@import "../mixins";
@import "../variable";

.imgProduct{
 @include heigt-width;

  @include small-radius;
      
}
.card-logement{
  position: relative;
  @include heigt-width;
  @include small-radius;
  transform: scale(1);
transition:1s;
  & :hover{
    @include boxShadow;
transform: scale(1.01);

  }
}
.card-logement__title{
   position: absolute;

   height: 52px;
   width: 300px;
   left: 20px;
   top: 268px;

@include font;
color:$tertiary-color;
}

@media screen and (max-width:375px) {
  
  .card-logement,
  .imgProduct {
    width: 335px;
    height: 255px;
  }
  .card-logement__title{
    top: 181px;
  }
}