.footer{
    align-items: center;
    background-color: #000;
    flex-direction: column;
    height: 209px;
    margin-top: 5%;
   width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
   .logoFooter{
    width: 122px;
    height: 39px;
    margin-top: 40px;
   }
   
    p{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 142.6%;
        white-space:nowrap ;
        /* or 34px */
        
        display: flex;
        align-items: flex-end;
        text-align: center;
        
        color: #FFFFFF;
        @media screen and (max-width:770px) {
            font-size: 12px;
        }

    }
}