
.hostNamePicture{
   @include flex-center;
    width: 96%;
    margin-top: 20px;
    @media screen and (max-width:$breakpoint-desktop-max) {
        justify-content:flex-end;
    }
    
&_Name{
  
@include font;
@include flex-end;
text-align: right;
margin:0 15px 0 0;
color:$primary-color;
}
&_Picture{
    
    
width: 64px;
height: 64px;
border-radius: 50px;

background: #C4C4C4;
}
}

@media screen and (max-width:$breakpoint-desktop-max) {
    .host_rating{
display: flex;
    justify-content: center;
    flex-direction: row-reverse;
align-items:flex-end;
} 
}
@media screen and (max-width:$breakpoint-desktop-min) {
    .hostNamePicture{
        &_Name{
        font-size:12px ;
        }
        & img{
            height: 32px;
            width: 32px;   
        }
    } 
}