@import "../mixins";
@import "../variable";
.nav-header {
	@include flex-end;
	text-transform: uppercase;

	&_home,
	&_about {

		font-size: 24px;
		font-style: normal;
		font-weight: 500;
		text-align: right;
		line-height: 142.6%;
		color: $primary-color;
		text-decoration: none;
		padding-left: 3.5rem;

		@media screen and (max-width: $breakpoint-desktop-max) {
			font-size: 11px;
			padding-left: 0.7rem;
		}

		&:hover,
		&:focus {
			text-decoration-line: underline;
		}
	}
}