.title_Tag_Host_Rating {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width:$breakpoint-desktop-max) {
        flex-direction: column;
    }
}

.title {
   
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    color: $primary-color;

    .h1 {
        font-size: 36px;
    }

    .h3 {
        font-size: 18px;
    }


}

.get-Tag {
    display: flex;
    justify-content: flex-start;
}

.getTag {

    width: 115px;
    height: 25px;
    margin-right: 10px;
    background:$primary-color;
   @include small-radius;

    &_tag_text {
        padding-top: 3px;
        margin: 0;
       
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 142.6%;
        /* identical to box height, or 20px */

        text-align: center;

        color:$tertiary-color;
    }
}

@media screen and (max-width:$breakpoint-desktop-min) {
    .title {
        h1 {

            font-size: 18px;
        }

        p {
            font-size: 14px;
        }
    }

    .getTag {
        height: 18px;
        width: 84px;

        border-radius: 5px;

        &_tag_text {
            font-size: 10px;
        }

    }
}