@import "../mixins";
@import "../variable";
.headerWrap {
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 5%;
	margin: 40px 100px 49px 100px;
	
	
	
	
	
	&__fig {
		
		display: flex;
		align-items: flex-start;
		margin: 0;
		width: 9rem;

	
			width: 13.2rem;
		}

		img {
			width: 100%;
		}
	}
	@media screen and (max-width:770px){
		.headerWrap
{
	margin: 28px 15px 24px 15px;
	img{
		height: 47px;
width: 145px;


	}
}
	}




