

@mixin boxShadow {
    box-shadow: rgba(255, 96, 96, 0.9) 0 0 22px 6px;
}


@mixin font {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
}
@mixin flex-between{
    display: flex;
    justify-content: space-between;
}
@mixin heigt-width{
    height: 340px;
    width: 340px;
}


@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin flex-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@mixin flex-banner {
    position: relative;
    @include flex-center;
    width: 100%;
  
    margin-top: 20px;
}

@mixin small-radius {
    border-radius: 10px;
}

@mixin big-radius {
    border-radius: 25px; 
}
